<h1>Node Express</h1>
<p>Hello {{data.name}} ,{{data.age}}</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
nemo recusandae eaque nobis totam ullam vero nihil, quod quidem debitis
minima, optio temporibus illo unde excepturi amet a error! Dignissimos?
</p>